@import "node_modules/millez-web-components/dist/assets/em";

.quick-menu {
    width: 440px;

    &__content {
        &__collumn {
            padding: 16px;

            &:first-child {
                border-right: 1px solid var(--spacer);
            }

            &__organization {
                margin-bottom: 24px;

                &__title {
                    font-weight: 600;
                    font-size: to-em(14);
                    color: var(--emphasis-high);
                    margin-left: 8px;
                }

                &__role {
                    font-weight: 700;
                    font-size: to-em(9);
                    text-transform: uppercase;
                    color: var(--emphasis-low);
                    margin: 0 0 0 8px;
                }
            }

            &__menu {
                li {
                    margin-bottom: 16px;
                }
                
                &__item {
                    font-weight: 400;
                    font-size: to-em(14);
                    color: var(--emphasis-medium);
                    text-decoration: none;

                    &:hover {
                        color: var(--emphasis-high);
                    }

                    i {
                        margin-right: 8px;
                    }
                }
            }

            &__title {
                font-size: to-em(12);
                color: var(--emphasis-low);
                margin: 24px 0 16px;
            }
        }
    }

    &__footer {
        border-top: 1px solid var(--spacer);
        padding: 16px;

        &__logo {
            &__version {
                margin: 0 8px;
                font-size: to-em(12);
                color: var(--emphasis-high);
            }

            &__badge {
                padding: 2px 8px;
                background: var(--st-red);
                border-radius: 8px;
                font-size: to-em(8);
                text-transform: uppercase;
                color: var(--white);
            }
        }

        &__do-not-disturb {
            font-size: to-em(14);
            color: var(--emphasis-medium);

            span {
                display: inline-flex;
                margin: 0 8px;
            }
        }
    }

    cdk-user-status,
    cdk-theme-options {
        margin-bottom: 16px;
    }
}
