@import "node_modules/millez-web-components/dist/assets/variables";
@import "node_modules/millez-web-components/dist/assets/em";

:host {
    display: block;
    width: 150px;
    padding: 8px;
}
