@import "node_modules/millez-web-components/dist/assets/em";

div {
    cursor: pointer;
    
    * {
        transition: color .3s ease-in-out;
    }

    &:hover {
        i {
            color: var(--emphasis-high);
        }
    }

    i {
        font-size: to-em(18);
        color: var(--emphasis-low);
    }
}