<div class="actions-bar d-flex flex-column align-items-center py-2 h-100">
  <button
    type="button"
    class="actions-bar__toogleButton"
    [class.actions-bar__toogleButton--opened]="actionsBarControl"
    [class.actions-bar__toogleButton--closed]="!actionsBarControl"
    (click)="toogleActionsBar()"
  >
    <i class="bi bi-chevron-right"></i>
  </button>

  <div class="actions-bar__header d-flex align-items-center w-100 px-2">
    <cdk-avatar
        class="flex-grow-0 mt-2"
        imageUrl="/assets/images/_temp-avatar.jpg"
        size="sm"
        maskType="status"
    ></cdk-avatar>

    <div
      class="actions-bar__header__text d-flex justify-content-center ms-2 flex-column flex-grow-1 w-100"
      [class.actions-bar__header__text--expanded]="actionsBarControl"
      [class.actions-bar__header__text--closed]="!actionsBarControl"
    >
        <strong>Millez</strong>
        <span>Millez teste</span>
    </div>
  </div>

  <app-navigation-bar
    class="d-block w-100 mt-3"
    [toggleActionsBar]="actionsBarControl"
  ></app-navigation-bar>
</div>
