<nav class="navigation-bar">
    <ul class="m-0 p-0">
        <li class="d-block px-2">
            <!-- tooltip="Dashboard" -->
            <!-- [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link navigation-bar__link--active d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-grid-1x2"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Dashboard
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Projects"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-kanban"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Projects
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Calendar"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-calendar2-week"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Calendar
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Meet"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-camera-video"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Meet
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Docs"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-file-earmark-text"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Docs
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Contacts"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-people"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Contacts
                </span>
            </a>
        </li>
        
        <li class="d-block px-2">
            <!-- tooltip="Organization"
            [display]="!toggleActionsBar" -->
            <a
                href="#"
                class="navigation-bar__link d-flex align-items-center px-2 py-1"
                placement="right"
            >
                <i class="bi bi-building"></i>
                <span
                    class="ms-2 navigation-bar__link__text"
                    [class.navigation-bar__link__text--expanded]="toggleActionsBar"
                    [class.navigation-bar__link__text--closed]="!toggleActionsBar"
                >
                    Organization
                </span>
            </a>
        </li>
    </ul>
</nav>