@import "node_modules/millez-web-components/dist/assets/em";

.header {
    &__informationButton {
        background-color: transparent;
        border: 0;
        color: var(--emphasis-high);
        font-size: to-em(16);
    }

    &__chat-button {
        text-transform: uppercase;
    }
}