@import "variables";
@import "em";

.header {
    &__informationButton {
        background-color: transparent;
        border: 0;
        color: $emphasis-high;
        font-size: to-em(16);
    }

    &__chat-button {
        text-transform: uppercase;
    }
}