@import "variables";
@import "em";

:host {
    display: block;
    width: 100%;
}

div {
    font-weight: 400;
    font-size: to-em(14);
    color: $emphasis-medium;
    cursor: pointer;

    &:hover {
        color: $emphasis-high;
    }

    span {
        i {
            margin-right: 5px;
        }
    }
}