@import "node_modules/millez-web-components/dist/assets/em";

:host {
    display: block;
    width: 100%;
    padding: 8px;

    div {
        font-weight: 400;
        font-size: to-em(14);
        color: var(--emphasis-medium);
        cursor: pointer;
    
        &:hover {
            color: var(--emphasis-high);
        }
    
        .status {
            width: 12px;
            height: 12px;
            margin-right: 5px;
            display: inline-flex;
        }
    }
}
