<div class="perfil-indicator d-flex flex-column align-items-center mb-2 h-100">
  <div
    class="perfil-indicator__list d-flex flex-column align-items-center w-100"
  >
    <div
      class="perfil-indicator__list__item perfil-indicator__list__item{{
        profile.selected ? '--active' : ''
      }} d-flex flex-column align-items-center mb-2 w-100"
      [tooltip]="profile.profileName"
      placement="right"
      *ngFor="let profile of profiles"
      (click)="changeProfile(profile.id)"
    >
      <div class="perfil-indicator__list__item__content">
        <img [src]="profile.profileAvatar" class="w-100" alt="" />
      </div>
    </div>
  </div>

  <button
    type="button"
    class="perfil-indicator__addPerfil mb-3"
    tooltip="Add new profile"
    placement="right"
    (click)="createProfile()"
    *ngIf="profiles.length < 3"
  >
    <i class="bi bi-plus-lg"></i>
  </button>

  <div class="perfil-indicator__divider"></div>
</div>
